 * {
     margin: 0;
     box-sizing: border-box;
 }

 body {
     background-color: rgb(95, 109, 97);
     align-items: center;
     justify-content: center;
     height: 100vh;
     font-size: 0;
 }

 h1 {
     text-align: center;
     color: black;
     font-size: 50px;
 }

 #container {
     height: 100vh;
     width: 100vw;
     padding: 50px;
     display: flex;
     justify-content: center;
     
 }

 .artist-box {
     border: solid;
     padding: 10px;
     flex: 2;
     margin: 10px;
     min-width: 50%;
 }
 #box1{
    background-color: rgb(196, 175, 118);
 }
 #box2{
    background-color: rgb(118, 180, 196);
 }
 #box3{
    background-color: rgb(165, 118, 196);
 }
 #box4{
    background-color: rgb(118, 196, 122);
 }
 .thumbnail {
     height: 50px;
 }

 .portrait {
     height: 100px;
 }

 #row {
    display: flex;
    flex-direction: row;
    
}
 
 /* optimised for tablet */
@media (max-width:900px) {
    .artist-box{
        min-width: 50%;
    }
}

/* optimised for mobile */
@media screen and (max-width: 500px){
    
    .artist-box{
        flex-direction: column;
    }
}
    
